.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo img{
    width: 100px;
}

.nav-items > ul{
    display: flex;
}

li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.filter{
    display: flex;
    gap: 10px;
    padding: 20px;
    background: rgb(205, 169, 169);
}

.btn{
    padding: 10px;
    background: black;
    color: white;
}

.counting{
    display: flex;
}

.c{
    background: black;
    color: white;
    padding: 10px;
    border: 1px solid grey;
}

.res-card-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 10px;
    padding: 14px;
    width: 200px;
    /* height: 350px;   */
    background: beige;
    border: 1px solid transparent;
    transition: border 0.2s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.res-img {
    width: 100%;
}

.shimmer-card{
    margin: 10px;
    padding: 14px;
    width: 200px;
    height: 400px;  
    background: #f0f0f0;
    border: 1px solid transparent;
    transition: border 0.2s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.shimmer-card:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.input{
    padding: 10px;
}